{% extends 'base.html' %} {% load static %}
<title>{% block title %}FlipKart|Cart{% endblock %}</title>
<body>
  {% block body %} 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
            <!--Cart Starts here-->
            {% for x in allcarts %}
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{x.productid.images.url}}" alt="{{x.productid.productname}}" width="200px" height="300px">
                        </div>
                        <div class="col-md-6">
                            <div class="card-header fw-bold">Product Detail</div>
                            <div class="card-body">
                                <h5 class="card-title">{{x.productid.productname}}</h5>
                                <p class="card-text text-success fw-bold">Special Price</p>
                                <p class="card-text">
                                    <strong>{{x.productid.price}}/-</strong>
                                    &nbsp;
                                    <del>{{x.productid.price|add:x.productid.price}}</del>
                                    <span class="text-success">50% off</span>
                                </p>
                                <p class="card-text">{{x.productid.description}}</p>
                                <p class="card-text fw-bold">Available Offers</p>
                                <ul>
                                    <li>Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C</li>
                                    <li>Bank Offer10% off up to ₹1,200 on HDFC Bank Credit Card EMI on 6 and 9 months tenure. Min Txn Value: ₹5000 T&C </li>
                                    <li>Bank Offer10% off up to ₹1,500 on HDFC Bank Credit Card EMI on 12months and above tenure. Min Txn Value:₹5000T&C </li>
                                    <li>Special PriceGet extra 38% off (price inclusive of cashback/coupon)T&C </li>
                                </ul>
                                <p class="card-text">Deliver by {{date}} | <span class="card-text">Free</span></p>
                                <p class="card-text">10 Days Return Policy</p>
                                <p>
                                    <strong>QTY:</strong>
                                    <a href="/updateqty/0/{{x.productid.productid}}"><button class="btn btn-danger">-</button></a>
                                    <input type="number" value="{{x.qty}}" style="width: 30px;">
                                    <a href="/updateqty/1/{{x.productid.productid}}"><button class="btn btn-success">+</button></a>
                                </p>
                                <a href="/addaddress" class="btn btn-warning">Make Payment</a>
                                <a href="/removecart/{{x.productid.productid}}" class="btn btn-primary">Remove Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <!-- Cart ends here -->

            <!-- Total Section starts here -->
            <div class="col-md-3 mt-5">
                    <h4 class="text-primary">Total Amount Section</h4>
                    <h6><strong>Total items:</strong></h6>
                    <hr>
                    <h6><strong>Total Amount: Rs</strong></h6>
                    <a href="/addaddress" class="btn btn-danger">Make Payment</a>
            </div>
            <!-- Total Section ends here -->
        </div>
    </div>
  {% endblock %}
</body>